.welcome{
    object-position: 50% 50%;
}
.mysidebar{
    position: sticky;
    top: 20px;
}
*{
    font-size: 20px;
    background-color: #ccccff;
    font-style:oblique;
    text-align: center;
    align-items: center;
}
.myol{
    display: inline-block;
    text-align: center;
}
.myul{
    display: inline-block;
    text-align: center;
}
h1{
    color: blueviolet;
    font-size: 45px;
}
h2{
    color: teal;
    font-size: 36px;
}