.welcome{
    object-position: 50% 50%;
}
.mysidebar{
    position: sticky;
    top: 20px;
}
*{
    font-size: 20px;
    background-color: #ccccff;
    font-style:oblique;
    text-align: center;
    align-items: center;
}
.myol{
    display: inline-block;
    text-align: center;
    color:black;
}
.myul{
    display: inline-block;
    text-align: center;
}
#h1{
    color: red;
}